<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Spa Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smart phone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../association-home/utilities/js/jquery-1.11.1.min.js"></script> 
</head>
<body>
	<div id="home" class="w3banner">
		<div class="banner-info">
			<div class="top-nav">
				<nav>
					<div class="container">
						<div class="navbar-header logo">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
                            </button>
                            <a routerLink = "/home">
                            <h1><img src = "../../assets/images/saviors.png"></h1>
                            </a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<div align = "right">&nbsp;&nbsp;<br><br>
                                    <a routerLink = "/login">
			                	<button class = "btn btn-primary" style = "color: white;">
				                 	Login
                                </button>
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <a routerLink = "/signup">
                                        <button class = "btn btn-warning" style = "color: black;">
                                             Sign up
                                        </button>
                                    </a>
								</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</nav>
			</div>	
			<!-- //navigation -->
			<div class="banner-text">
				<!-- banner Slider starts Here -->
				<script src="../association-home/utilities/js/responsiveslides.min.js"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 3
					  $("#slider3").responsiveSlides({
						auto: true,
						pager: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });
				
					});
				</script>
				<!-- //End-slider-script -->
					<ul class="rslides" id="slider3">
							<div class="bnr-agileinfo">
								<h2>We're <span style = "color: #2267A2">Saviors</span> 
									and we're here to help ! You're here to help !</h2>	
								<h3>
									We give the opportunity to associations to help<br>
									by managing their collects and members can help<br>
									by donating in any collect the would like to.
								</h3>	
							</div>
					</ul>
			</div>	
		</div>
	</div>
	<app-collects-displayed></app-collects-displayed>
	<div class="footer">
		<div class="container">
			<div class="clearfix"> </div>
			<div class="footer-copy">
				<p>© 2020 Saviors. All rights reserved.</p>
			</div>
		</div>
	</div>
	<script src="../association-home/utilities/js/prettySticky.js"></script>
    <script src="../association-home/utilities/js/bootstrap.js"></script>
</body>
</html>
